  /**  POCETAK CSSa za NAVBAR */
  nav{
    background-color: #fff0f5;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav-links{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none; 

   
}
.linkmenija{
    margin: 10px;
    text-decoration: none;
    color: #7E4F18;
   
}
.logoslika{
    height: 35px;
}



   /**  KRAJ CSSa za NAVBAR */